/* style pour le cubitus 1 */

body {

    background-color: goldenrod;
}

.c1, .c2 {
    /* background-color: gold; */
    width: 150px;
    height: 150px;
    margin: 5px;

    float: left;

border: 10px solid white;
border-radius: 20%;
  
}

.c1 {
    background-color: greenyellow;
}

.c2 {
    background-color: indigo;
}


.clear {
    clear: both;
}